.container{
    max-width: 1770px;
    margin: 0 auto;
}

.card-generator{
    background-color: rgb(195, 131, 255);
    border: 2px solid black;
    padding: 20px 0;
    margin: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.card-input{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}